@page "/Index"

<h1>Index</h1>
<a href="/Create" class="btn btn-success bi bi-plus"> Create</a>
<a href="/Edit" class="btn btn-primary bi bi-pencil"> Edit</a>
<a href="/Delete" class="btn btn-danger bi bi-trash"> Delete</a>
<a href="/View" class="btn btn-info bi bi-card-text"> View</a>
@code {

}
